@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.profileInfo{
    margin-top: 0px ;
}

.Profile-user-info{
    width: 100%;
    padding: 100px 100px 50px 50px;
    background-color: #252525;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.user-greet{
    font-size: 4em;
    font-family: 'Kanit', sans-serif;
}
.user-email{
    font-family: 'Kanit', sans-serif;
}
.user-histroy-information{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.history-page-quote{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    font-family: 'Lobster', cursive;
}
.bookingsHeading{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 20px;
    font-family: 'Phudu', cursive;
}
.bookingItems{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: 'Kanit', sans-serif;
}
.left-sideview{
    width: 20rem;
    border: 1px solid #252525;
}
.right-sideview{
    border: 1px solid #252525;
    background-color: #bcbcbc;
    width: 25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.booked-car-name{
    color: #fa5f1a;
    font-size: 3em;
    padding: 20px 0px 2px 20px;
}
.booked-car-type{
    color: #6b6b6b;
    font-size: 1.2em;
    padding: 2px 0px 2px 20px;
}
.booked-car-cost{
    font-size: 2.5em;
    padding: 2px 0px 2px 20px;
    color: #252525;
}
.booked-car-date{
    color: #6b6b6b;
    font-size: 1.2em;
    padding: 2px 0px 2px 20px;
}
.booked-status{
    font-size: 1.2em;
    padding: 2px 0px 10px 20px;
}
.current-status{
    width: 15rem;
    height: 3rem;
    background-color: rgba(1, 106, 1, 0.923);
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-booking-display{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:797px){
    .bookingItems{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-sideview{
        margin-bottom: 20px;
    }
}
@media screen and (max-width:442px) {
    .right-sideview{
        width: 18rem;
    }
    .left-sideview{
        width: 18rem;
    }
    .booked-car-name{
        font-size: 2em;
        padding: 20px 0px 2px 20px;
    }
    .booked-car-type{
        font-size: 1em;
        padding: 2px 0px 2px 20px;
    }
    .booked-car-cost{
        font-size: 2em;
        padding: 2px 0px 2px 20px;
        color: green;
    }
    .booked-car-date{
        font-size: 1em;
        padding: 2px 0px 2px 20px;
    }
    .booked-status{
        font-size: 1em;
        padding: 2px 0px 10px 20px;
    }
}