.reset-password{
    margin-top: 80px;
}
.reset-password-form{
    display: flex;
    justify-content: center;
    background-color: #bcbcbc;
    padding: 20px 0px;
    font-family: 'Montserrat', sans-serif;
}
.resetpassLabel{
    width: 25rem;
}
.reset-password-button{
    display: flex;
    justify-content: center;
    margin: 20px;
}